<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam Bem Vindos ao meu blog!</h1>
        </div>
    </div>
<div class="row mb-5">
    <div class="col-md-12">
        <p class="text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet fringilla enim et faucibus. Quisque tortor dolor, egestas sed porta a, cursus sed elit. Integer diam lacus, finibus nec dui vel, eleifend placerat diam. Etiam egestas, nisl at fringilla viverra, est felis eleifend velit, et iaculis sapien enim non nunc. Aliquam dignissim massa ut varius hendrerit. Praesent posuere luctus maximus. Cras facilisis auctor magna, id interdum nisi vehicula quis. Praesent dapibus massa lectus, vel vulputate sem fringilla bibendum. Nullam non ullamcorper ipsum. Vivamus vehicula tincidunt aliquam.
        </p>
    </div>
    </div>

    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>
</div>